<a href="https://colab.research.google.com/github/GiselleOAlmeida/python-univesp-ciencia-de-dados/blob/main/Semana_2_video_6_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sobre a Biblioteca
A biblioteca pandas tem o nome originado de **Pan**el **Da**ta, e mais utilizada para a análise de dados multidimensionais.

Utilizada para dados tabulas e heterogêneos (de vários tipos).

![panda.jpeg]()

Estruturas fundamentais:

**Series**

● Objetos array unidimensional contendo uma sequência de valores e uma array associado à labels de dados, que chamamos de índices. 

● A representação de strings de uma series mostra índices à esquerda e valores à direita. Nas series podemos ter rótulos nos índices.

**Dataframes**

● Representa uma tabela de dados retangular e contém uma
coleção ordenada de colunas, em que cada uma pode ter
um tipo de valor diferente (booleano, string, numérico, entre
outros).

● O Dataframe tem índice tanto para linha quanto para coluna,
podendo ser imaginado como um dicionário (dict) de Series,
todos compartilhando o mesmo índice.

● A capacidade de trabalhar com vários tipos de dados, como
se fosse uma tabela de banco de dados, favorece
consideravelmente o trabalho de um profissional de DS

##Demonstração de pandas

###Importar a biblioteca

In [1]:
import pandas as pd
import numpy as np

###Series - note o índice do lado esquerdo

In [2]:
s1=pd.Series([1,2,-5,0])

In [3]:
s1

0    1
1    2
2   -5
3    0
dtype: int64

In [4]:
s1.values

array([ 1,  2, -5,  0])

In [5]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
s2=pd.Series([1,2,-5,0], index=['a','b','c','d'])

In [7]:
s2

a    1
b    2
c   -5
d    0
dtype: int64

In [8]:
x='a'*2

In [9]:
x

'aa'

In [10]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
s2['a']=1000

In [12]:
s2

a    1000
b       2
c      -5
d       0
dtype: int64

###Comparação

In [13]:
s2[s2>0]

a    1000
b       2
dtype: int64

###Algebra

In [14]:
s2*2

a    2000
b       4
c     -10
d       0
dtype: int64

In [15]:
s2

a    1000
b       2
c      -5
d       0
dtype: int64

In [16]:
s2.isnull

<bound method Series.isnull of a    1000
b       2
c      -5
d       0
dtype: int64>

In [17]:
s2.isnull()

a    False
b    False
c    False
d    False
dtype: bool

##Dataframe

###Criar **dataframe**

In [18]:
dados={'estado':['SP', 'MG','PR','SP','MG','PR'], 'ano':[2019, 2019,2019, 2020,2020,2020], 'pop':[45.9, 21.2,16.9,46.6,21.4,17.3]}
df1=pd.DataFrame(dados)

In [19]:
df1

  estado   ano   pop
0     SP  2019  45.9
1     MG  2019  21.2
2     PR  2019  16.9
3     SP  2020  46.6
4     MG  2020  21.4
5     PR  2020  17.3

In [20]:
df1.head(2)

  estado   ano   pop
0     SP  2019  45.9
1     MG  2019  21.2

### Visualizar partes do dataframe

In [21]:
df1.tail(2)

  estado   ano   pop
4     MG  2020  21.4
5     PR  2020  17.3

In [22]:
df1.sample(2)

  estado   ano   pop
3     SP  2020  46.6
1     MG  2019  21.2

###Criar novo dataframe à partir do anterior (veja as colunas)

In [23]:
df2=pd.DataFrame(dados,columns=['ano','estado','pop'])

In [24]:
df2

    ano estado   pop
0  2019     SP  45.9
1  2019     MG  21.2
2  2019     PR  16.9
3  2020     SP  46.6
4  2020     MG  21.4
5  2020     PR  17.3

###Observar o DataFrame

In [25]:
df2['estado']

0    SP
1    MG
2    PR
3    SP
4    MG
5    PR
Name: estado, dtype: object

In [26]:
df2.ano

0    2019
1    2019
2    2019
3    2020
4    2020
5    2020
Name: ano, dtype: int64

In [27]:
df2.estado

0    SP
1    MG
2    PR
3    SP
4    MG
5    PR
Name: estado, dtype: object

In [28]:
df2.dtypes

ano         int64
estado     object
pop       float64
dtype: object

###Atribuir Valores

In [29]:
df2['estimativa']=50

In [30]:
df2

    ano estado   pop  estimativa
0  2019     SP  45.9          50
1  2019     MG  21.2          50
2  2019     PR  16.9          50
3  2020     SP  46.6          50
4  2020     MG  21.4          50
5  2020     PR  17.3          50

In [31]:
df2['estimativa']=np.arange(6)

In [32]:
df2

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2019     MG  21.2           1
2  2019     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

In [33]:
df3=df2

In [34]:
df3

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2019     MG  21.2           1
2  2019     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

In [35]:
df3=df2['ano']

In [36]:
df3

0    2019
1    2019
2    2019
3    2020
4    2020
5    2020
Name: ano, dtype: int64

In [37]:
df2['Não Paraná']=df2.estado!='PR'

In [38]:
df2

    ano estado   pop  estimativa  Não Paraná
0  2019     SP  45.9           0        True
1  2019     MG  21.2           1        True
2  2019     PR  16.9           2       False
3  2020     SP  46.6           3        True
4  2020     MG  21.4           4        True
5  2020     PR  17.3           5       False

###Excluir coluna

In [39]:
del df2['Não Paraná']

In [40]:
df2

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2019     MG  21.2           1
2  2019     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

###Entender o dataframe

In [41]:
df2.shape

(6, 4)

In [42]:
df2.shape[0]

6

In [43]:
df2.index

RangeIndex(start=0, stop=6, step=1)

In [44]:
df2.columns

Index(['ano', 'estado', 'pop', 'estimativa'], dtype='object')

In [45]:
df2.count()

ano           6
estado        6
pop           6
estimativa    6
dtype: int64

###Alterar informações das colunas

In [46]:
df2.columns=['Ano','Estado','População','Estimativa']

In [47]:
df2

    Ano Estado  População  Estimativa
0  2019     SP       45.9           0
1  2019     MG       21.2           1
2  2019     PR       16.9           2
3  2020     SP       46.6           3
4  2020     MG       21.4           4
5  2020     PR       17.3           5

###Analisar o dataframe

In [48]:
df2.describe(include='all')

                Ano Estado  População  Estimativa
count      6.000000      6   6.000000    6.000000
unique          NaN      3        NaN         NaN
top             NaN     SP        NaN         NaN
freq            NaN      2        NaN         NaN
mean    2019.500000    NaN  28.216667    2.500000
std        0.547723    NaN  14.096725    1.870829
min     2019.000000    NaN  16.900000    0.000000
25%     2019.000000    NaN  18.275000    1.250000
50%     2019.500000    NaN  21.300000    2.500000
75%     2020.000000    NaN  39.775000    3.750000
max     2020.000000    NaN  46.600000    5.000000

###Alterar valores e consultar dados

In [49]:
df2['Ano']=df2['Ano']+2

In [50]:
df2

    Ano Estado  População  Estimativa
0  2021     SP       45.9           0
1  2021     MG       21.2           1
2  2021     PR       16.9           2
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [51]:
df2[df2['Ano']>2021]

    Ano Estado  População  Estimativa
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [52]:
df4=df2[df2['Ano']>2021]

In [53]:
df4

    Ano Estado  População  Estimativa
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

###Excluir colunas

In [54]:
df4.drop('Ano', axis='columns')

  Estado  População  Estimativa
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [55]:
df4

    Ano Estado  População  Estimativa
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [56]:
df2

    Ano Estado  População  Estimativa
0  2021     SP       45.9           0
1  2021     MG       21.2           1
2  2021     PR       16.9           2
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [57]:
df2.drop('Ano',axis='columns', inplace=True)

In [58]:
df2

  Estado  População  Estimativa
0     SP       45.9           0
1     MG       21.2           1
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

###Excluir linhas

In [59]:
df2.drop([0,1])

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [66]:
df2

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

###Observe a propagação na exclusão definitiva

In [61]:
dflinhas=df2

In [62]:
dflinhas

  Estado  População  Estimativa
0     SP       45.9           0
1     MG       21.2           1
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [63]:
dflinhas.drop([0,1],inplace=True)

In [65]:
dflinhas

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

###Ver dados de linhas

In [67]:
df2.iloc[0]

Estado          PR
População     16.9
Estimativa       2
Name: 2, dtype: object

In [68]:
df2.iloc[1:3]

  Estado  População  Estimativa
3     SP       46.6           3
4     MG       21.4           4

In [69]:
df2.iloc[1:3,[1,2]]

   População  Estimativa
3       46.6           3
4       21.4           4

In [70]:
df2

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

####É essencial saber explorar a biblioteca PANDAS, importante explorar os recursos de Series e DataFrame do panda. Lembrando que um dataframe é formado por series.