<a href="https://colab.research.google.com/github/GiselleOAlmeida/python-univesp-ciencia-de-dados/blob/main/Testes_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var1 = 12
var2 = 30
var3 = var1 + var2

print(var3)

var3 = var3 / 2

print(var3)

42
21.0

In [ ]:
num1 = int(input("Digite um número a seguir: "))

dobro = 2*num1

print("O dobro do número digitado é:", dobro)

Digite um número a seguir: 15
O dobro do número digitado é: 30

In [ ]:
x = 10
y = 4.2

num = float(input("Digite um número a seguir: "))

print(num > x*y, num <= x + y, num*y != x*y)
print(num == x*y, num+y == x*y, y > x + num)

Digite um número a seguir: 10
False True False
False False False

In [ ]:
print(num == x, num == y, num == x + y)

True False False

In [ ]:

print(True, False, False)

True False False

In [ ]:
print(num == x*y, numy == x*y, y > x + num)

NameError: ignored

In [ ]:
print(False, True, True)

False True True

In [ ]:
x = 10
y = 4.2

num = float(input("Digite um número a seguir: "))

print(num > x*y, num <= x + y, num*y != x*y)

Digite um número a seguir: 10
False True False

In [ ]:
print(num == x, num == y, num == x + y)

True False False

In [ ]:
print(2 == '2', False, 2.0 == 2)

False False True

In [ ]:
print(num == x,y, y == x*y, y > x + num)

False 10 False False

In [ ]:
x = 4.2
y = 10
z = "42"

not (((x * y == z) and not (x < y)) or y % 2 == 0)

False

In [ ]:
not (((not True) or int(z) % 7 == 0) and ((str(int(x,y)) == z) and (type(x) != type(z))))

TypeError: ignored

In [ ]:

(True and True) or not True

True

In [ ]:
not ((x == y or True) and ((int(z) < x,y) and (type(y) == type(int(z)))))

False

In [ ]:
not (((not True) or int(z) % 7 == 0) and ((str(int(x,y)) == z) and (type(x) != type(z))))

TypeError: ignored

In [ ]:
a = int(input("Digite o primeiro número inteiro: "))
b = int(input("Digite o segundo número inteiro: "))
c = int(input("Digite o terceiro número inteiro: "))

if a > b and a > c:
    resposta = a % 2 == 0
elif b > a and b > c:
    resposta = b % 2 == 0
else:
    resposta = c % 2 == 0

print("“O maior número entre os três informados é positivo?”", resposta)

Digite o primeiro número inteiro: 5
Digite o segundo número inteiro: 5
Digite o terceiro número inteiro: 38
“O maior número entre os três informados é positivo?” True

In [ ]:
x = int(input("Digite um número inteiro: "))

if x < 0:
    resp1 = "negativo"
else:
    resp1 = "positivo"
    
if x % 2 == 0:
    resp2 = "par"
else:
    resp2 = "impar"
    

print("O número {} é {} e {}.".format(x, resp1, resp2))

Digite um número inteiro: -42
O número -42 é negativo e par.

In [ ]:
cont = 0
resultado = 0
n = 3

while cont != n:
    resultado = resultado + 1/(2**cont)
    cont = cont + 1

print(resultado)

1.75

In [ ]:
(2+2)**2

16

In [ ]:
for i in range(10):
    print("Olá, mundo!")

Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!

In [ ]:
for i in "let's code":
    print("Olá, mundo!")

Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!

In [ ]:
for _ in " "*10:
    print("Olá, mundo!")

Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!

In [ ]:
for _ in range(10, 20, 1):
    print("Olá, mundo!")

Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!
Olá, mundo!

In [ ]:
for _ in [10]:
    print("Olá, mundo!")

Olá, mundo!

In [ ]:
lista_inicial = [10, 5, -7, 6, -42, 63, -8, -5, 13]

lista_final = []

for item in lista_inicial:
    if item % 2 == 0:
        if item < 0:
            lista_final.append(-item)
        else:
            lista_final.append(item)
    else:
        if item < 0:
            lista_final.append(-2*item)
        else:
            lista_final.append(2*item)
print(lista_final)

[10, 10, 14, 6, 42, 126, 8, 10, 26]

In [ ]:
[10, 10, 14, 6, 42, 126, 8, 10, 26]

-item, item, -2*item, 2*item

C.

2*item, -2*item, item, -item

D.

item, -item, 2*item, -2*item

E.

-item, 2*item, -2*item, item

[10]

In [ ]:
animais = ['gato', 'coelho', 'macaco', 'girafa']

animais.remove('gato')
print(animais)
print(len(animais))
print(animais.index('coelho'))

['coelho', 'macaco', 'girafa']
3
0

In [ ]:
cadastro = ["da Silva, Dra. Maria Francisca",
            "Santos de Souza, Sr. José Antônio",
            "Lima Oliveira, Srta. Ana Paula",
            "Pereira Costa, Dr. Antônio Marcos",
            "Alves de Almeida, Sra. Fernanda"]

In [ ]:
primeiros_nomes = []
for x in cadastro:
    primeiros_nomes.append(x.split(". ")[0])

sobrenomes = []
for x in cadastro:
    sobrenomes.append(x.split(",")[0])

titulos = []
for x in cadastro:
    titulos.append(x.split(".")[-1].split(", ")[0])

print(primeiros_nomes,sobrenomes,titulos)

['da Silva, Dra', 'Santos de Souza, Sr', 'Lima Oliveira, Srta', 'Pereira Costa, Dr', 'Alves de Almeida, Sra'] ['da Silva', 'Santos de Souza', 'Lima Oliveira', 'Pereira Costa', 'Alves de Almeida'] [' Maria Francisca', ' José Antônio', ' Ana Paula', ' Antônio Marcos', ' Fernanda']

In [ ]:
primeiros_nomes = []
for x in cadastro:
    primeiros_nomes.append(x.split(",")[0])

sobrenomes = []
for x in cadastro:
    sobrenomes.append(x.split(". ")[-1])

titulos = []
for x in cadastro:
    titulos.append(x.split(".")[0].split(", ")[-1])

print(primeiros_nomes,sobrenomes,titulos)

['da Silva', 'Santos de Souza', 'Lima Oliveira', 'Pereira Costa', 'Alves de Almeida'] ['Maria Francisca', 'José Antônio', 'Ana Paula', 'Antônio Marcos', 'Fernanda'] ['Dra', 'Sr', 'Srta', 'Dr', 'Sra']

In [ ]:
primeiros_nomes = []
for x in cadastro:
    primeiros_nomes.append(x.split(". ")[-1])

sobrenomes = []
for x in cadastro:
    sobrenomes.append(x.split(",")[0])

titulos = []
for x in cadastro:
    titulos.append(x.split(".")[0].split(", ")[-1])

print(primeiros_nomes,sobrenomes,titulos)

['Maria Francisca', 'José Antônio', 'Ana Paula', 'Antônio Marcos', 'Fernanda'] ['da Silva', 'Santos de Souza', 'Lima Oliveira', 'Pereira Costa', 'Alves de Almeida'] ['Dra', 'Sr', 'Srta', 'Dr', 'Sra']

In [ ]:
def f_it(n):
    resultado = 1

    for i in range(1, n+1, 1):
        resultado = resultado * i
  
    return resultado
n=10;

print(resultado)

1.75

In [ ]:
def f_rec(n):
    if n != 0:
        return n*f_rec(n-1)
    return 1
print(resultado)

1.75

In [ ]:
def f_rec(n):
    if n == 0:
        return 1
    return f_rec(n)

print(resultado)

1.75

In [ ]:
def calc_media(*args):
    soma = 0
    n = 0
    for item in args:
        soma = soma + item
        n = n + 1
    resp = soma/n



calc_media(10,20,30)
print(resp)

NameError: ignored

In [ ]:
lista = ['7', '9', '6', '5', '9', '10', '7', '8', '10', '7', 
     '7', '6', '6', '10', '6', '6', '7', '10', '9', '10',
     '7', '8', '10', '9', '8']
         
dic = {}

for item in lista:
    if item not in dic:
        dic[item] = 1
    else:
        dic[item] = dic[item] + 1

print(item)
print(dic)

8
{'7': 6, '9': 4, '6': 5, '5': 1, '10': 6, '8': 3}

In [ ]:
with open('tabelaExemplo.csv', "r") as arquivo:
    leitor = csv.reader(arquivo, delimiter = ';', lineterminator = '\n') #criando um leitor
    print("O conteúdo do arquivo é:")
    print(leitor)
    for linha in leitor:
        print(linha)

#A
f = open("caminho/para/arquivo.csv", "r")

leitura = f.read()

dados = []
for x in leitura.split("\n"):
    dados.append(x.split(","))

f.close()


#E
f = open("caminho/para/arquivo.csv", "r")

leitura = f.read()

dados = []
for x in leitura.split("\n"):
    dados.append(x.split(";"))

f.close()

FileNotFoundError: ignored

In [ ]:
ESPER ABZAN SULTAI DIMIR: 
DOCE FELIZ AZEDO MONTANHA 

JESKAI ABZAN GRUUL BANT: 
DIA PRAIA TRISTE MONTANHA 

GRIXIS TEMUR MARDU BANT: 
SALGADO PRAIA BRANCO NOITE 

BOROS TEMUR GRUUL DIMIR: 
DIA FELIZ PRETO NOITE


GRIXIS ABZAN GRUUL DIMIR

SyntaxError: ignored

In [ ]:
90+95+100+70+90+85+90+75+80+90

865

In [ ]:
865/10

86.5